

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  margin: auto;
  background-color: black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.border {
  margin: auto;
  border: 10px rgba(47,47,47,1) solid;
  border-radius: 5px;
}

section > * {
  display: flex;
  flex: 0 1 auto;
}

section * {
  flex: 1 1 0;
  margin: 1px;
  gap: 1px;
}

.display {
  display: block;
  flex: 1 1 auto;
  background-color: #b2b9b7;
  margin: 5px;
  padding: 5px;
}

.displayPrev {
  text-align: right;
  margin: 0;
  font-size: 25px;
  min-height: 25px;
  padding: 0 5px;
}

.displayCurrent {
  margin: 0;
  text-align: right;
  font-size: 75px;
  min-height: 90px;
  word-wrap: break-word;
}

button {
  border-radius: 5px;
  border: none;
  padding: 0;
  font-size: 50px;
  width: 80px;
  height: 80px;
}

[data-key="0"] {
  flex: 2 1 0;
}

.operator,.equal {
  background-color: #FF8F1F;
}



.equal:active,.operator:active {
  background-color: #ffc183;
}

.clear,.backspace,.percent {
  background-color: dodgerblue;
}

.clear:active,
.backspace:active,
.percent:active {
  background-color: rgb(123, 189, 255);
}

.operand{
  background-color: #217C7E;
}

.operand:active {
  background-color: #33b9bb;
}

